<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle-target" aria-controls="toggle-target" aria-expanded="false" aria-label="네이게이션 메뉴">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggle-target">
        <a class="navbar-brand" href="#">나너마켓</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">메뉴1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-menu="search">찾기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/market/write" aria-disabled="true" data-menu="write">올리기</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <a href="/login">LOGIN</a>
            <a href="#" style="display: none;">LOGOUT</a>
        </ul>
        <!--
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        -->
    </div>
</nav>